include ../data/config.pug
include ../components/**/*.pug

block variables

doctype html
html(lang="uk")
  head
    block head
      include ./head/head.layout.pug

    include ./styles/styles.layout.pug
    block styles

  body(class="page " + bodyClass)
    .page__wrapper
      block header
        include ./header/header.layout.pug

      main.page__content
        block content


      block footer
        include ./footer/footer.layout.pug

      //- include ../components/popupTemplate/_index.pug

    include ./scripts/scripts.layout.pug
    block scripts
