h1 Home page
p This is example of home page
ul
  li
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. In beatae magni dolorum et, ipsam voluptatum. Molestias voluptates soluta aut laudantium labore facere accusantium laboriosam cumque beatae delectus porro, dicta dolorem!
  li
    p Voluptas voluptatibus, quidem id, quaerat eaque sint amet vitae commodi explicabo repellendus deleniti consequuntur? Fugiat repellendus quae impedit unde quo animi dolore in assumenda, exercitationem adipisci facilis natus minus tenetur?
  li
    p Nihil animi sit architecto libero temporibus. Accusamus iusto laborum deserunt doloribus sed quam, veritatis placeat ipsum, beatae porro expedita debitis sunt incidunt minus mollitia voluptates? Fugit, adipisci consequuntur. Alias, itaque.
  li
    p Quam odio nam minima officia non, architecto iste commodi cum eligendi iure excepturi hic recusandae? Et suscipit fuga, saepe possimus repudiandae nulla architecto fugit, laboriosam sit reiciendis tempora, necessitatibus facilis?
  li
    p Sed aliquam corrupti cumque quod assumenda consequatur repellat qui iure aliquid voluptatum esse, minima neque reprehenderit fuga! Atque minus iure est laudantium! Odio nihil consequatur, consequuntur expedita velit maiores at.

.js_wrapper
  .js_count 0

  button.js_plus +
  button.js_minus -

